 <head>
 <%= stylesheet_link_tag "style"%>
 </head>
<body>
  <%= render 'layouts/navbar'%>
           <div class="content">
                <h1>ABOUT US,</h1>
                <p> Welcome to our programming haven, where the world of Ruby comes to life! <br>
                    Code Verse Hub, we're dedicated to unlocking the magic of programming through <br>
                    in-depth and engaging lessons on the Ruby programming language. Whether you're a <br>
                    newcomer seeking a solid foundation or a coding maestro looking to refine your skills,<br>
                     our carefully curated lessons cater to all levels of expertise. Join us on this <br>
                     exhilarating journey into the heart of Ruby programming. Let's transform lines of text 
                <br>into dynamic applications, and concepts into tangible creations. 
                <br>Together, we're scripting a future where innovation knows no bounds.</p>
            </div>
        </div>
    </div>
</body>
</html>