  <head>
 <%= stylesheet_link_tag "style"%>
  </head>
  <%= render 'layouts/navbar'%>
        <div>

            <div class="content">
                <h1>TURN YOUR CURIOUSITY,</h1>
                <h1>INTO REALITY</h1>
                <p> Join us in taking a step to discover how the things you see in technology are made!</p>
                <div>
                    <%= link_to "GET STARTED", new_user_registration_path, id:"cta"%>
                </div>
            </div>
        </div>