<div id="<%= dom_id lesson %>">
  <p>
    <strong>Id:</strong>
    <%= lesson.id %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= lesson.number %>
  </p>

  <p>
    <strong>User:</strong>
    <%= lesson.user_id %>
  </p>

</div>
