<div id="posts" class="lesson" data-status="finished">
                <div class="category">
                    <% @posts.each do |post|%>
                    <h2><%= post.title %> </h2>
                    <p> Status of Lesson </p>
                    <% end %>
                </div>
</div><!--proj 1-->

